Flask==2.1.2
gensim==4.2.0
image_slicer==0.1.1
imgaug==0.4.0
keras==2.8.0
language_tool_python==2.7.1
matplotlib==3.5.1
ml_collections==0.1.1
nltk==3.7
numpy==1.22.3
opencv_python==4.6.0.66
Pillow==9.1.1
requests==2.27.1
scikit_image==0.19.2
scikit_learn==1.0.2
scipy==1.7.3
six==1.12.0
skimage==0.0
tensorflow==2.8.0
tensorflow_addons==0.16.1
tensorflow_gpu==2.8.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.42.1
Twisted==22.4.0
